* {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    --color-font: hsl(0, 50%, 100%);
    /* --color-bckgrnd-2: hsl(55, 25%, 87%); */
    --color-bckgrnd-2: hsl(55, 0%, 18%);
    --color-bckgrnd-3: hsl(55, 0%, 24%);
    --color-border-1: hsl(0, 0%, 50%);
    --color-border-2: hsl(0, 0%, 67%);
    --color-fill-2: hsl(250, 25%, 18%);
    --color-screen: hsl(130, 20%, 70%);
}

.app-container {
    width: 75vmin;
    height: 90vmin;
    padding: 5vmin;
    background: var(--color-bckgrnd-3);
    border-top: 10px ridge var(--color-border-2);
    border-right: 10px groove var(--color-border-2);
    border-bottom: 10px groove var(--color-border-2);
    border-left: 10px ridge var(--color-border-2);
}

.screen {
    font: .8em;
    width: 60vmin;
    height: 12vmin;
    background: var(--color-screen);
    border: 2.5px solid var(--color-border-2);
    /* overflow-x: scroll; */
}
.screen > div {
    display: grid;
    grid-template-columns: 5fr .1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#screen-content {
    text-align: start;
    white-space: nowrap;
}
#equal-sign {
    grid-column: 2;
}
#screen-answer {
    grid-column: 3;
}

.buttons {
    grid-row: 3;
    width: 60vmin;
    height: 40vmin;
    margin-top: 10vmin;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 columns */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; /* 5 rows */
    grid-gap: 2vmin;
    padding: 3vmin;
    font-size: 1vmin;
    background: var(--color-bckgrnd-2);
    border: 1px solid var(--color-border-1);
}
.button {
    position: relative;
    padding: 0px 8px;
    border-radius: 5px 5px 3px 3px;
    color: var(--color-font);
}
.button.normal {
    background: var(--color-fill-2);
    border: 2.5px solid hsl(0, 0%, 12%);
    border-bottom: hidden;
    box-shadow: 0 2.5px 0 var(--color-fill-2);
}
.button.normal:active {
    transition: 200ms ease;
    border-bottom: 2.5px hsl(0, 0%, 12%);
    box-shadow: 0 2.5px 0 hsl(0, 0%, 10%);
    top: 1.5px;
}
.button.orange {
    background: hsl(16, 100%, 50%);
    border: 2.5px solid hsl(16, 84%, 48%);
    box-shadow: 0 2.5px 0 hsl(16, 84%, 48%);
}
.button.orange:active {
    transition: 200ms ease;
    box-shadow: 0 2.5px 0 hsl(16, 84%, 36%);
    top: 2px;
}

.button.special { /* special operations section */
    grid-column-start: 1;
}
.button.numpad { /* numbers section */
    grid-column-start: 1;
}
.button.operation { /* operations section */
    grid-column-start: 4;
}

/* individual buttons */
#btn-clear {

}
#btn-squared {
    grid-column: 2;
}
#btn-cubed {
    grid-column: 3;
}
#btn-num9 {
    grid-column: 3;
}
#btn-num8 {
    grid-column: 2;
    grid-row: 2;
}
#btn-num7 {
    grid-column: 1;
    grid-row: 2;
}
#btn-num6 {
    grid-column: 3;
}
#btn-num5 {
    grid-column: 2;
    grid-row: 3;
}
#btn-num4 {
    grid-column: 1;
    grid-row: 3;
}
#btn-num3 {
    grid-column: 3;
    grid-row: 4;
}
#btn-num2 {
    grid-column: 2;
    grid-row: 4;
}
#btn-num1 {
    grid-column: 1;
}
#btn-num0 {
    grid-column: 2;
    grid-row: 5;
}
#btn-negative {
    
}
#btn-decimal {
    grid-column: 3;
}
#btn-plus {
    grid-row: 1;
}
#btn-minus {
    grid-row: 2;
}
#btn-multiply {
    grid-row: 3;
}
#btn-divide {
    grid-row: 4;
}
#btn-equals {
    grid-row: 5;
}